.row {
  margin-bottom: 1em;
  align-items: left;
  display: flex;
  flex-direction: row;
}

.cell{
  display: flex;
  flex-direction: column;
}


.text{
  resize: horizontal;
  font-size: 16pt;
  text-align: center;
}

.scenario {
  width: 75%;
  margin-top: 3em;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.new_cell_btn {
  min-width: 4em;
}
